<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>MagicWidgets</title>
    <link  rel="stylesheet" type="text/css" th:href="@{style.css}"/>             <!-- OBS /style -->
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet"/>
</head>
<body class = 'body2'>
  <h1 id = 'hP2'>Magic Widgets</h1>

  <form id="quoteType" action="#" th:action="@{/newQuote}" method="post" th:object="${quote}" >
  <div class="dropbtn">Choose theme:
      <select name="quoteTypeList" th:field="*{quoteType}" class="dropbtn">
        <option value="Movies" class="dropdown-content">Movies </option>
        <option value="Inspirational" class="dropdown-content">Inspirational</option>
        <option value="Academy" class="dropdown-content">Academy</option>
      </select>
    </div>
    <p>New quote:
      <input id="quotes" type="text" placeholder="Begin and end quote with &#34; &#34;"  th:field="*{quote}" id="input"/>
      <input class="addButton" type="submit" value="Add quote"/>
      <p class="validationError" th:each="err : ${#fields.errors('quote')}" th:text="${err}"></p>
    </p>
  </form>
  <br/>
  <a href="/quotes">List of quotes</a>

    <a href="/dashboard">
        <input href="/dashboard" class="button" type="button" value="Go back"/>
    </a>
    <a href="/logout">
        <input class="button" type="button" value="Logout"/>
    </a>

</body>
</html>
