<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>MagicWidgets</title>
    <link href="/static/style.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet"/>
</head>
<body>
    <h1 id="hP2">Magic Widgets</h1>

    <table>
        <tr>
            <th>Quote</th>
            <th>Theme</th>
        </tr>
        <tr th:each="quote : ${quotes}">
            <td th:text="${quote.quote}"></td>
            <td th:text="${quote.quoteType}"></td>
        </tr>
    </table>

    <a href="/newQuote" id="addNewQuote">Add new quote</a><br/>


    <a href="/dashboard">
        <input class="button" type="button" value="Go back"/>
    </a>

    <a href="/logout">
        <input class="button" type="button" value="Logout"/>
    </a>
</body>
</html>
