<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>MagicWidgets</title>
    <link href="/style.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet"/>
</head>
<body class = 'body2'>

    <h1 id = 'hP2'>Magic Widgets</h1>


    <table>
      <tr>
        <td><a href="sl.html">SL</a></td>
        <td><a href="/quotes">Quotes</a></td>
      </tr>
      <tr>
        <td><a href="/newQuote">Insert new quotes</a></td>
        <td><a href="something.html">Something</a></td>
      </tr>
    </table>


      <a href="/index.html">
        <input type="submit" value="Logout"/>
      </a>

</body>
</html>
